@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    min-height: 80dvh;
    @include flex-center();
    
}
.register{
    
    width: min(500px,90%);
    height: auto;
    background-color: #CCD5AE;
    padding: min(20px,10%);
    @include flex-center();
    border-radius: 10px;
}
form{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
